<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%- content.description %>">
    <title>
        <%= content.title %> | zotokot
    </title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/blog/blog.css' />
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/blog.js"></script>
    <script src="https://kit.fontawesome.com/635cb748ea.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <a href="/">
            <img src="/images/logo_ringo_transparent_all_noNeon.png" alt="トップページへ戻るアイコン" class="logo_header">
        </a>
    </header>
    <div class="main">
        <div class="container-left"></div>
        <div class="container-center">
            <div class="blog-title-container">
                <img src="/images/blog/<%- content.title %>/<%- content.title %>.png" alt="<%- content.title %>"
                    class="blog-image">
                <div>
                    <h1 class="blog-title">
                        <%- content.title %>
                    </h1>
                    <h5 class="blog-create">
                        投稿日時: <%- content.created_at %>
                    </h5>
                    <h5 class="blog-update">
                        更新日時: <%- content.updated_at %>
                    </h5>
                </div>
            </div>
            <div id="blog-sentence-container">
                <%- content.content %>
            </div>
        </div>
        <div class="container-right"></div>
    </div>
    <footer class="footer">
        <div class="navigation-container">
            <div class="nav-item-wrapper">
                <a href="/"><i class="fa-solid fa-home"></i><span>HOME</span></a>
            </div>
            <div class="nav-item-wrapper">
                <a href="/blog"><i class="fa-solid fa-rss"></i><span>BLOG</span></a>
            </div>
            <div class="nav-item-wrapper">
                <a href="/contact"><i class="fa-solid fa-address-card"></i><span>CONTACT</span></a>
            </div>
        </div>
        <a href="/">
            <img src="/images/logo_ringo_transparent_all_noNeon.png" alt="トップページへ戻るアイコン" class="logo_footer">
        </a>
    </footer>
    <div class="button-to-top">
        <a href="#">
            <img src="/images/logo_inversedStar_black.png" alt="ページトップへ戻るアイコン" class="go-to-top">
            <img src="/images/logo_inversedStar_blackwhite_transparent.png" alt="ページトップへ戻るアイコン" class="go-to-top">
            <p>￪ TOP</p>
        </a>
    </div>
    <!-- <script type="text/javascript" src="/javascripts/gototop.js"></script> -->
</body>

</html>