<!DOCTYPE html>
<html>

<head>
    <title>
        ブログ
    </title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/blog/index.css' />
</head>

<body>
    <h1>
        Contents
    </h1>
    <div>
        <table>
            <% for(var i in content){ %>
                <tr>
                    <% var obj=content[i].attributes; %>
                        <th>
                            <%= obj.id %>
                        </th>
                        <td>
                            <a href="<%= " blog/" + obj.title %>"><%= obj.title %></a>
                        </td>
                        <!-- <td>
                            <%= obj.date %>
                        </td> -->
                        <!-- <td>
                            <%= obj.tag %>
                        </td> -->
                </tr>
                <% } %>
        </table>
    </div>
    <a href="/">トップページへ</a>
</body>

</html>