<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="主に音楽のことを書いています。">
    <title>
        Blog | zotokot
    </title>
    <link rel='stylesheet' href='/stylesheets/template.css' />
    <link rel='stylesheet' href='/stylesheets/blog/index.css' />
    <script src="https://kit.fontawesome.com/635cb748ea.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <a href="/">
            <img src="/images/logo_ringo_transparent_all.png" alt="トップページへ戻るアイコン" class="logo_header">
        </a>
    </header>
    <div class="main">
        <div class="container-left"></div>
        <div class="container-center">
            <h1>Contents</h1>
            <div>
                <table>
                    <% for(var i in content){ %>
                        <tr>
                            <% var obj=content[i].attributes; %>
                                <th>
                                    <%= obj.id %>
                                </th>
                                <td>
                                    <a href="<%= " blog/" + obj.url %>"><%= obj.title %></a>
                                </td>
                                <td>
                                    <%= obj.date %>
                                </td>
                                <td>
                                    <%= obj.tag %>
                                </td>
                        </tr>
                        <% } %>
                </table>
            </div>
        </div>
        <div class="container-right"></div>
    </div>
    <footer class="footer">
        <div class="navigation-container">
            <ul>
                <li class="nav-item">
                    <a href="/"><i class="fa-solid fa-home"></i><span>HOME</span></a>
                </li>
                <li class="nav-item">
                    <a href="/blog"><i class="fa-solid fa-rss"></i><span>BLOG</span></a>
                </li>
                <li class="nav-item">
                    <a href="/contact"><i class="fa-solid fa-address-card"></i><span>CONTACT</span></a>
                </li>
            </ul>
        </div>
        <a href="/">
            <img src="/images/logo_ringo_transparent_all.png" alt="トップページへ戻るアイコン" class="logo_footer">
        </a>
    </footer>
</body>

</html>