<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>
        Welcome to <%= title %>
    </p>
    <p>
        ブログのサンプル
    </p>
    <div>
        <table>
            <% for(var i in content){ %>
                <tr>
                    <!-- <% var obj=content[i]; %> -->
                    <% var obj=content[i].attributes; %>
                        <th>
                            <%= obj.id %>
                        </th>
                        <td>
                            <a href="<%= " blog/" + obj.title %>"><%= obj.title %></a>
                        </td>
                        <td>
                            <%= obj.date %>
                        </td>
                        <td>
                            <%= obj.tag %>
                        </td>
                </tr>
                <% } %>
        </table>
    </div>
    <a href="/">トップページへ</a>
</body>

</html>